.f {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1500px;
}

.vi {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15px;
}

.commentvideotitle {
  font-weight: bold;
  font-size: 35px;
  border-bottom: black 2px solid;
}

.outsideform {
  display: flex;
  flex-direction: column;
}

.form {
  word-wrap: break-word;
  background-color: peachpuff;
  border-radius: 5px;
  padding: 10px;
  font-size: 22px;
  margin-bottom: 15px;
}

.formbutton {
  display: flex;
  justify-content: space-evenly;
}

.formbutton1 {
  width: 150px;
  margin-top: 10px;
  font-size: 18px;
  background-color: lightcoral;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.formbutton1:hover {
  background-color: rgb(240, 146, 146);
  border: solid 1px black;
  cursor: pointer;
}