* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica;
  margin: 2px;
  background-color: #CBA6C3;
}



.header {
  background-color: #353866;

  width: 100%;
  height: 163px;
  padding: 15px;
  text-align: left;
  margin: 5px 2px;

}

.header>h2 {
  font-size: 45px;
  color: white;
  letter-spacing: 2cm;
  font-family: "微軟正黑體";
  text-shadow: 2px 3px 1px #FF0000, 2px 1px 1px#fdce32;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 3px;
  font-size: 23px;
}

.button>a {
  list-style-image: none;
  border-bottom-style: yellow 2px dashed;
  background-color: #FFBC42;
  letter-spacing: 5px;
}

ul>a:hover {
  background-color: plum;
  outline: rgb(25, 173, 25) dashed thick;
  font-style: italic;
  font-size: 28px;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(255, 2, 213);
  font-weight: bold;
}

/* selected link */
a:active {
  color: rgb(17, 255, 223);
}

.page {
  /* display: flex;
  justify-content: center; */
  /*margin: auto;*/
  margin: 10px 20px 30px 20px;
  
  border-bottom:#FA8000 dashed 5px;
  /* border-radius: 10px 5px; */
}
.c{background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-size: cover;}

.content {
  display: flex;
  justify-content: center;
  
  /* word-wrap: break-word; */
  
  font-size: 25px;
  
  color: #7C7877;
  font-weight: bold;
  letter-spacing: 0.2cm;
  line-height: 1.5cm;
 margin-top: 10%;
  margin-right: 50px;
  border-right: dotted rgb(170, 49, 49) 10PX;
  border-top: dotted rgb(170, 49, 49) 10PX;
  border-radius: 10px 5px;

}


.content2{font-size:18px;
  width: 1200px;
  height:470px;
  font-family:"微軟正黑體";
  /* position: relative;
  left:2.5cm;
  top:-1.5cm; */
  margin-right: 50px;
  margin-bottom: 100px;
  line-height:150%;
   border: 10px dashed;
    padding: 25px;
    border-color: #79642b;
    border-radius: 15%;
    
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 1.5em;
    display: flex;
    position: absolute;
  top:800px;
  right: 70px;
  background-attachment: scroll;
  letter-spacing: 0.2cm;}

.footer {
  display: block;
  height: 45px;
  /*設定footer本身高度*/
  background-color:#a2d2ff;
  bottom: 0;
  width: 100%;
  margin-top:40%; 
  
  text-align: center;
}

.cen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homepageF {
  display: flex;
  justify-content: center;
  margin: auto;
}

© 2021 GitHub,
Inc.