* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.mapimg {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1500px;
  align-items: center;
}

.introformap {
  font-size: 32px;
  color: rgb(70, 69, 69);
  margin-top: 30px;
  font-weight: bold;
  width: 1500px;

}

.titleforphoto {
  font-size: 45px;
  font-weight: bolder;
  width: 1500px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}

.annotationformap {
  font-size: 32px;
  color: rgb(70, 69, 69);
  text-shadow: gray 2px 2px 5px;
  border-top: 3px solid black;
  width: 1500px;
  padding-top: 30px;
}

.moreintroa-1:visited {
  color: rgb(128, 32, 32)
}

.moreintroa-1:hover {
  color: lightpink;
  font-weight: bold;
}

.moreintroa-1:active {
  color: red;
}

.moreintroa:visited {
  color: rgb(128, 32, 32)
}

.moreintroa:hover {
  color: lightpink;
  font-weight: bold;
}

.moreintroa:active {
  color: red;
}

.moreintro {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  color: rgb(71, 71, 71);
  width: 400px;
  margin: 20px 45px;
  font-weight: bold;
}

.moreintrophoto {
  width: 400px;
  margin-top: 10px;
  border-radius: 3px;
  border: 10px solid rgb(243, 113, 113);
}

.moreintrophoto-1 {
  width: 400px;
  margin-top: 10px;
  border-radius: 3px;
  border: 10px solid rgb(243, 113, 113);
}

.moreintrophoto:hover {
  box-shadow: lightslategray 3px 3px 12px;
}

/*小圖設定*/
.a {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -395px;
  margin-top: -720px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.b img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -840px;
  margin-top: -600px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.c img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -444px;
  margin-top: -500px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.d img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -444px;
  margin-top: -590px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.e img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -404px;
  margin-top: -610px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.f img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -384px;
  margin-top: -660px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.g img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -254px;
  margin-top: -450px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.h img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -384px;
  margin-top: -700px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.i img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -274px;
  margin-top: -620px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.j img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -320px;
  margin-top: -800px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.k img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -400px;
  margin-top: -760px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.l img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -440px;
  margin-top: -760px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.m img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -480px;
  margin-top: -710px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.n img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -570px;
  margin-top: -730px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.o img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -620px;
  margin-top: -750px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.p img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -675px;
  margin-top: -770px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.q img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -625px;
  margin-top: -800px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.r img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -785px;
  margin-top: -800px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.s img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -885px;
  margin-top: -800px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.t img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -830px;
  margin-top: -640px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.u img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -770px;
  margin-top: -620px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.v img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -720px;
  margin-top: -650px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.w img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -675px;
  margin-top: -620px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.x img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -575px;
  margin-top: -620px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

.y img {
  width: 380px;
  padding: -3px;
  display: none;
  position: relative;
  left: 85%;
  margin-left: -672px;
  margin-top: -620px;
  border-radius: 2px;
  border: 8px solid lightcoral;
  outline: lightslategray 3px solid;
}

/*地圖hover後設定*/
.aaa:hover img {
  display: block;
}

.b area:hover~img {
  display: block;
}

.c area:hover~img {
  display: block;
}

.d area:hover~img {
  display: block;
}

.e area:hover~img {
  display: block;
}

.f area:hover~img {
  display: block;
}

.g area:hover~img {
  display: block;
}

.h area:hover~img {
  display: block;
}

.i area:hover~img {
  display: block;
}

.j area:hover~img {
  display: block;
}

.k area:hover~img {
  display: block;
}

.l area:hover~img {
  display: block;
}

.m area:hover~img {
  display: block;
}

.n area:hover~img {
  display: block;
}

.o area:hover~img {
  display: block;
}

.p area:hover~img {
  display: block;
}

.q area:hover~img {
  display: block;
}

.r area:hover~img {
  display: block;
}

.s area:hover~img {
  display: block;
}

.t area:hover~img {
  display: block;
}

.u area:hover~img {
  display: block;
}

.v area:hover~img {
  display: block;
}

.w area:hover~img {
  display: block;
}

.x area:hover~img {
  display: block;
}

.y area:hover~img {
  display: block;
}