.orderrr {
  padding: 20px;
  font-size: 20pt;
  font-weight: bold;
  border: solid 2px rgba(0, 0, 0, 0.404);
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 80%;
}

.orderr {
  padding: 20px;
  font-size: 14pt;
  /* font-weight: bold; */
}

table {
  width: 92%;
  margin: 50px 0px;
  border: solid 2px rgba(0, 0, 0, 0.404);
}

th {
  text-align: center;
  font-size: 24px;
  vertical-align: middle;
}

tr {
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  height: 30px;
}

td {
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  height: 55px;
}


th {
  background-color: rgba(253, 174, 55, 0.849);
  border: solid 2px rgba(0, 0, 0, 0.404);
}

tr:nth-child(odd) {
  background-color: rgb(255, 221, 212);
}

tr:nth-child(even) {
  background-color: rgb(255, 241, 238);
}

.dele {
  background-color: aliceblue;
  font-size: 14px;
}

input [type=submit]:hover {
  cursor: pointer;
}